<div class="container-fluid mb-3">
  <header class="row pt-2">
    <!-- logo -->
    <div class="col-md-2 d-flex align-items-center">
      <a routerLink="/" class="logo ml-4"> <span><b>Travel</b>
          <span style="color:#333;">Car</span> </span></a>
    </div>
    <!-- header menu -->
    <div class="col-md-4 d-flex justify-content-end align-items-center header-menu ">
      <a class="mr-4" routerLink="/cars">
        <span>
          <img src="../assets/icons/navi-car.svg" width="30" height="30" alt=""> Kiralık Araçlar
        </span>
      </a>
      <a href="#">
        <span>
          <img src="../assets/icons/navi-calendar.svg" width="30" height="30" alt=""> Rezervasyon Sorgula
        </span>
      </a>
    </div>
   
      
    <!-- login -->
    <div class="col-md-3 d-flex justify-content-center align-items-center header-menu " *ngIf="!loggedIn">
      <a routerLink="/login">
        <span>
          Giriş Yapın
        </span>
      </a>
      <span class="login-or">veya</span>
      <span>
        <button pButton type="button" label="Kayıt Olun" class="p-button-danger" routerLink="/register"></button>
      </span>
    </div>
    <div class="col-md-3 d-flex justify-content-center align-items-center header-menu " *ngIf="loggedIn">
      <button type="button" class="btn dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <p *ngFor="let user of users">
          <i class="pi pi-user"></i> Hoşgeldiniz {{user.firstName}} {{user.lastName}}
        </p>
      </button>
      <div class="dropdown-menu text-center">
        <a class="dropdown-item"routerLink="/admin/user-edit"> <i class="pi pi-user-edit"></i> Üye Paneli</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"> <i class="pi pi-sign-out"></i> Çıkış Yap</a>

      </div>
    </div>
    <!-- support -->
    <div class="col-md-3">
      <a class="mr-4 d-flex align-items-center justify-content-center" href="">
        <span>
          <div id="support-icon">
           <img src="../assets/icons/support.svg" class="m-1"  width="40" >
          </div>
        </span>
        <div class="support-wrapper">
          <h4>Destek Hattı</h4>
          <h3>+90 555 555 55 55</h3>
        </div>
      </a>
    </div>
  </header>
</div>
