<div class="container-fluid mb-3">
<header class="row pt-2">
  <!-- logo -->
  <div class="col-md-2 d-flex align-items-center">
    <a href="/" class="logo ml-4"> <span><b>Travel</b>
        <span style="color:#333;">Car</span> </span></a>
  </div>
  <!-- header menu -->
  <div class="col-md-4 d-flex justify-content-end align-items-center header-menu ">
    <a class="mr-4" href="">
      <span>
        <svg version="1.1" id="katman_1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
          style="enable-background:new 0 0 100 100;" xml:space="preserve" class="icon">
          <g>
            <g>
              <path fill="#D4002A"
                d="M95.8,37.5H4.2c-2.3,0-4.2-1.9-4.2-4.2s1.9-4.2,4.2-4.2h91.7c2.3,0,4.2,1.9,4.2,4.2S98.1,37.5,95.8,37.5z"
                class="st0"></path>
            </g>
            <g>
              <path fill="#D4002A" d="M50,91.7c-1.2,0-2.4-0.5-3.2-1.5L1,36c-1.3-1.5-1.3-3.7-0.1-5.3L17.6,9.9c0.8-1,2-1.6,3.3-1.6h58.3
        c1.3,0,2.5,0.6,3.3,1.6l16.7,20.8c1.2,1.6,1.2,3.8-0.1,5.3L53.2,90.2C52.4,91.1,51.2,91.7,50,91.7z M9.6,33.3L50,81.1l40.4-47.8
        L77.2,16.7H22.8L9.6,33.3z" class="st1"></path>
            </g>
          </g>
        </svg>
        Kampanyalar
      </span>
    </a>

    <a href="">
      <span>
        <svg version="1.1" id="katman_1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
          style="enable-background:new 0 0 100 100;" xml:space="preserve" class="icon">
          <g transform="translate(1 1)">
            <g>
              <path fill="#D4002A" d="M28.5,99H11.9C4.6,99-1,93.3-1,86.1V20.4c0-3.8,1.6-7.4,4.3-9.9c2.5-2.2,5.6-3.3,8.7-3h74.1
              c7.2,0,12.9,5.6,12.9,12.9v8.1c0,2.6-2.1,4.8-4.8,4.8c-2.6,0-4.8-2.1-4.8-4.8v-8.1c0-2.2-1.7-3.3-3.3-3.3H11.9c-0.2,0-0.3,0-0.5,0
              c-0.7-0.1-1.3,0.3-1.6,0.6c-0.7,0.7-1.2,1.7-1.2,2.8v65.7c0,2.2,1.7,3.3,3.3,3.3h16.7c2.6,0,4.8,2.1,4.8,4.8
              C33.3,96.9,31.2,99,28.5,99z" class="st0"></path>
            </g>
            <g>
              <path fill="#D4002A" d="M73.8,29c-2.6,0-4.8-2.1-4.8-4.8V3.8C69,1.1,71.1-1,73.8-1c2.6,0,4.8,2.1,4.8,4.8v20.5
              C78.5,26.9,76.4,29,73.8,29z M24.2,29c-2.6,0-4.8-2.1-4.8-4.8V3.8c0-2.6,2.1-4.8,4.8-4.8S29,1.1,29,3.8v20.5
              C29,26.9,26.9,29,24.2,29z" class="st1"></path>
            </g>
            <g>
              <path fill="#D4002A" d="M67.6,99c-17.3,0-31.4-14.1-31.4-31.4c0-17.3,14.1-31.4,31.4-31.4C84.9,36.1,99,50.2,99,67.6
              C99,84.9,84.9,99,67.6,99z M67.6,45.7c-12.1,0-21.9,9.8-21.9,21.9c0,12.1,9.8,21.9,21.9,21.9c12.1,0,21.9-9.8,21.9-21.9
              C89.5,55.5,79.7,45.7,67.6,45.7z" class="st0"></path>
            </g>
            <g>
              <path fill="#D4002A" d="M69.5,74.2H57.1c-2.6,0-4.8-2.1-4.8-4.8c0-2.6,2.1-4.8,4.8-4.8h7.6v-7.6c0-2.6,2.1-4.8,4.8-4.8
              c2.6,0,4.8,2.1,4.8,4.8v12.4C74.2,72.1,72.1,74.2,69.5,74.2z" class="st1"></path>
            </g>
          </g>
        </svg>
        Rezervasyon Sorgula
      </span>
    </a>
  </div>
  <!-- login -->
  <div class="col-md-3 d-flex justify-content-center align-items-center header-menu ">
    <a href="">
      <span>
        Giriş Yapın
      </span>
    </a>
    <span class="login-or">veya</span>
      <span >
        <button pButton type="button" label="Kayıt Olun" class="p-button-danger"></button>
      </span>
  </div>
<!-- support -->
  <div class="col-md-3">
    <a class="mr-4 d-flex align-items-center justify-content-center" href="">
      <span>
        <div id="support-icon" >
        <svg version="1.1"  xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
          style="enable-background:new 0 0 100 100;" xml:space="preserve" class="icon">
          <g>
            <path d="M70.6,74.8c-6.9,0-12.5-5.6-12.5-12.5V45.6c0-3.4,1.3-6.5,3.7-8.9c2.4-2.4,5.5-3.7,8.8-3.7c0,0,0,0,0,0
		c3.3,0,6.5,1.3,8.8,3.7c2.4,2.4,3.7,5.5,3.7,8.8v16.7C83.1,69.2,77.5,74.8,70.6,74.8z M70.6,41.5c-1.1,0-2.2,0.4-2.9,1.2
		c-0.8,0.8-1.2,1.8-1.2,2.9v16.7c0,2.3,1.9,4.2,4.2,4.2c2.3,0,4.2-1.9,4.2-4.2V45.6c0-1.1-0.4-2.2-1.2-3
		C72.8,41.9,71.8,41.5,70.6,41.5C70.6,41.5,70.6,41.5,70.6,41.5z M29,74.8c-6.9,0-12.5-5.6-12.5-12.5V45.6c0-6.9,5.6-12.5,12.5-12.5
		c6.9,0,12.5,5.6,12.5,12.5v16.7C41.5,69.2,35.9,74.8,29,74.8z M29,41.5c-2.3,0-4.2,1.9-4.2,4.2v16.7c0,2.3,1.9,4.2,4.2,4.2
		c2.3,0,4.2-1.9,4.2-4.2V45.6C33.1,43.3,31.3,41.5,29,41.5z" class="st0"></path>
          </g>
          <g>
            <path d="M79,91.5H58.1c-2.3,0-4.2-1.9-4.2-4.2s1.9-4.2,4.2-4.2H79c6.9,0,12.5-5.6,12.5-12.5V49.8
		c0-23-18.7-41.7-41.7-41.7c-23,0-41.7,18.7-41.7,41.7V54c0,2.3-1.9,4.2-4.2,4.2s-4.2-1.9-4.2-4.2v-4.2c0-27.6,22.4-50,50-50
		c27.6,0,50,22.4,50,50v20.8C99.8,82.1,90.5,91.5,79,91.5z" class="st0"></path>
          </g>
          <g>
            <path d="M49.8,99.8c-6.9,0-12.5-5.6-12.5-12.5c0-6.9,5.6-12.5,12.5-12.5c6.9,0,12.5,5.6,12.5,12.5
		C62.3,94.2,56.7,99.8,49.8,99.8z M49.8,83.1c-2.3,0-4.2,1.9-4.2,4.2c0,2.3,1.9,4.2,4.2,4.2c2.3,0,4.2-1.9,4.2-4.2
		C54,85,52.1,83.1,49.8,83.1z" class="st0"></path>
          </g>
        </svg>
      </div>
      </span>
      <div class="support-wrapper"> 
        <h4>Destek Hattı</h4>
        <h3>+90 541 658 79 40</h3>
      </div>
    </a>
  </div>
</header>
</div>
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Rent A Car</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/rental']" class="nav-link" >Rentals</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->