<app-status></app-status>
<app-steps></app-steps>

<div class="container-fluid mt-5 ">
    <p-toast position="top-right"></p-toast>
    <div class="row ">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-7 border" *ngFor="let detail of details">
                    <span class="support mr-4 p-3">
                        <i class="pi pi-star mr-1"></i>
                        <div class="7-24">{{detail.findexScore}}</div>
                    </span>
                    <div class="detail-wrapper mt-3 mb-5 ">
                        <h5 >
                            {{detail.brandName}} {{detail.carName}} 
                        </h5>
                        <div class="free-cancel mt-3">
                            <img src="../assets/icons/ok.png" width="22" style="margin-right:5px;"> ÜCRETSİZ İPTAL
                            GARANTİSİ
                        </div>
                        <app-gallery></app-gallery>
                    </div>
                </div>
                <div class="col-md-5 p-3 border ">
                    <div *ngFor="let property of carProperty" class="car-description">
                        <div class="rent-title text-center">
                            <h5>Araç Özellikleri</h5>
                        </div>
                        <div class="car-property mt-4">
                            <h5> <img src="../assets/icons/fuel.svg" width="36" alt=""> Yakıt : {{property.fuelName}}
                            </h5>
                            <hr>
                            <h5> <img src="../assets/icons/gear.svg" width="26" alt=""> Vites : {{property.gearName}}
                            </h5>
                            <hr>
                            <h5> <img src="../assets/icons/carclass.svg" width="36" alt=""> Sınıf :
                                {{property.carClassName}}
                            </h5>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <app-rental-term></app-rental-term>
        </div>
        <div class="col-md-3 p-3 border">
            <div class="rent-title ">
                <h5>Kiralama Detayları</h5>
            </div>
            <div class="rent-dailyprice-wrapper mt-5">
                <div class="rent-dailyprice" *ngFor="let detail of details">
                    <h5 class="salary-title">Günlük Fiyat</h5>
                    <img src="../assets/icons/wallet.svg" width="26" alt=""> <span
                        class="ml-5 dailyprice">{{detail.dailyPrice }}₺</span>
                    <hr>
                    <h5 class="salary-title">{{rentDailyLength}} Günlük En İdeal Fiyat</h5>
                    <img src="../assets/icons/wallet.svg" width="26" alt=""> <span
                        class="ml-5 dailyprice-rentdaily">{{detail.dailyPrice * rentDailyLength }}₺</span>
                    <hr>
                </div>
                <div class="rentdate text-center">
                    <h5 class="salary-title">Aracı Alış / Bırakış Tarihi</h5>
                    <p-calendar [(ngModel)]="rangeDates" (ngModelChange)="change($event)"
                        (onSelect)="change(rangeDates)" [minDate]="minDate" [touchUI]="true" dateFormat="dd.mm.yy"
                        [showIcon]="true" [showTime]="true" selectionMode="range" [readonlyInput]="true"
                        inputId="range">
                    </p-calendar>   
                    {{rentDate | date:'d.MM.yyyy' }}
                    {{returnDate | date:'d.MM.yyyy'  }}
               
                    <hr>
                </div>
                <div class="rent-dailyprice" *ngIf="rentDailyLength">
                    <div *ngFor="let detail of details">
                        <div class="p-3"
                            style="background:rgb(76, 175, 80); border:10px solid rgba(166, 207, 168, 0.74);">
                            <h5 class="salary-title-card text-center">Kartınızdan Çekilecek Tutar (KDV Dahil)</h5>
                            <div class="dailyprice-card text-center">{{detail.dailyPrice *
                                rentDailyLength | vatAdded:0.20}}</div>
                        </div>
                        <hr>
                        <button class="btn btn-red mt-2 col-md-12"
                            (click)="getRentalDateCheck(carId,rentDate,returnDate)">Sonraki Adıma Geç</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>