<p-accordion [multiple]="true">
  <p-accordionTab header="Araç Markası">
    <input placeholder="Marka Ara" type="text" class="form-control" [(ngModel)]="filterBrand" (ngModelChange)="change($event)">
    <h5 class="salary-title text-center mt-2 mb-2">veya seçiniz</h5>
    <select class="custom-select" (click)="navigateTo($event.target)" (change)="navigateTo($event.target)">
      <option  *ngFor="let brand of brands;index as i;" value="{{brand.brandId}}" > {{i+1}}-) {{brand.brandName}}</option>
    </select>
  </p-accordionTab>
</p-accordion>

