.card-title{
  font-family: 'Righteous', cursive;
}
.wrapper-home {
  background-color: #D23B38;
  width: 100%;
  min-height: 700px;
  padding: 30px;
  margin: 0;
}

.title {
  color: white;
}
.subtitle {
  color: rgba(255, 255, 255, 0.7);
}
.search-wrapper {
  background-color: white;
  border-radius: 10px;
  min-height: 300px;
  -webkit-box-shadow: 11px 7px 50px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 7px 50px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 7px 50px -20px rgba(0, 0, 0, 0.75);
}


h2{
  color:#333;
  font-family: 'Righteous', cursive;
}

.rental-car{
  width:100%;
  height:50px;
}

.dailyprice , .findex{
  color:#5D686E;
  font-size:25px;
}

.findex-title , .price-title{
  color:#555;
  font-size:18px;
}

.card {
  transition:all .4s ease-in-out;
}
.card:hover{
  -webkit-box-shadow: -1px 0px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: -1px 0px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow: -1px 0px 10px 0px rgba(50, 50, 50, 0.75);
  transition:all .4s ease-in-out;
}
.card:hover .p-button-success 
{
  transition : all .5s ease;
  background-color: #4CAF50 !important;
  color:#fff;
  border:1px solid #fff;

}
.p-button-success {
  background-color: #fff !important;
  color:#4CAF50;
  border:1px solid #4CAF50;
  font-family: 'Righteous', cursive;
  transition : all 1s ease;
}

.custom-marker {
  display: flex;
  width: 2rem;
  height: 2rem;
  padding:10px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 50%;
  z-index: 1;
}

.search-wrapper a{
  color:#333;
  transition:all .5s ease-in-out;
}

.search-wrapper .pi-chevron-right {
  transition:all .5s ease-in-out;
}
.search-wrapper:hover a ,.search-wrapper:hover .pi-chevron-right {
  color:#D23B38;
  font-size:20px;
  transition:all .5s ease-in-out;
}
