<div class=" admin-panel-wrapper">
    <h5 class="text-center">Admin Menü</h5>
    <hr>
    <ul class="list-group">
        <li class="list-group-item" routerLink="/admin/car-add" role="button"> <img
                src="../assets/icons/add.svg" width="25"> Araba Ekle</li>
        <li class="list-group-item" routerLink="/admin/brand-add" role="button"><img src="../assets/icons/add.svg"
                width="25"> Marka Ekle</li>
        <li class="list-group-item" routerLink="/admin/color-add" role="button"> <img
                src="../assets/icons/add.svg" width="25"> Renk Ekle</li>
        <li class="list-group-item" routerLink="/admin/car-add" role="button"> <img
                src="../assets/icons/add.svg" width="25"> Araba Ekle</li>
    </ul>
</div>