<div class=" admin-panel-wrapper">
    <h5 class="text-center">Admin Menü</h5>
    <hr>
    <ul class="list-group">
        <li class="list-group-item" routerLink="/admin/user-edit" role="button"> <i class="pi pi-user text-success"></i> Üye Bilgilerim </li>
        <li class="list-group-item" routerLink="/admin/car-add" role="button"> <i class="pi pi-plus text-success"></i> Araba Ekle</li>
        <li class="list-group-item" routerLink="/admin/brand-add" role="button"><i class="pi pi-tag text-success"></i> Marka Ekle</li>
        <li class="list-group-item" routerLink="/admin/color-add" role="button"> <i class="pi pi-palette text-success"></i> Renk Ekle</li>
               
        <!-- <li class="list-group-item" routerLink="/rental" role="button"> <img
                src="../assets/icons/add.svg" width="25"> Kiralanmış Araçlar </li> -->
    </ul>
</div>