<div class="row border">
    <div class="col-md-12 p-4">
        <h5>Kiralama Şartları</h5>
        <hr>
        <div class="row d-flex justify-content-around" *ngFor="let term of rentalTerms">
            <div class="col-md-3 text-center border p-4">
                <img src="../assets/icons/deposit.svg" width="60" >
                <h5 class="text-center mt-3">Depozito</h5>
                <h4 class="text-center mt-3">{{term.deposit}} ₺</h4>
            </div>
            <div class="col-md-3 text-center border p-4">
                <img src="../assets/icons/km.svg" width="60" >
                <h5 class="text-center mt-3">Günlük Kilometre Sınırı</h5>
                <h4 class="text-center mt-3">{{term.dailyKmLimit}} KM</h4>
            </div>
            <div class="col-md-3 text-center border p-4">
                <img src="../assets/icons/fuse.svg" width="60" >
                <h5 class="text-center mt-3">Hasar Sigortası</h5>
                <h4 class="text-center mt-3">{{term.fuse}}</h4>
            </div>
        </div>

        <h5 class="mt-4">Sürücü Gereksinimleri</h5>
        <hr>
        <div class="row d-flex justify-content-around" *ngFor="let term of rentalTerms">
            <div class="col-md-3 text-center border p-4">
                <img src="../assets/icons/drivercard.svg" width="60" >
                <h5 class="text-center mt-3">Minimum Ehliyet Süresi</h5>
                <h4 class="text-center mt-3">{{term.driverLicenceLimit}} </h4>
            </div>
            <div class="col-md-3 text-center border p-4">
                <img src="../assets/icons/km.svg" width="60" >
                <h5 class="text-center mt-3">Minimum Yaş Sınırı</h5>
                <h4 class="text-center mt-3">{{term.driverAge}} </h4>
            </div>
           
        </div>
    </div>
</div>
