<app-status></app-status>
<app-steps></app-steps>

<div class="container-fluid mt-5 ">
    <div class="row">
        <div class="col-md-9 border">
            <button class="btn btn-outline-danger mt-3 mb-5" routerLink="/car/detail">Geri Dön</button>
            <h5>Sürücü Bilgileri</h5>
            <div class="d-flex justify-content-center">
                <label for="tckimlik">T.C. Kimlik Numarası</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="pi pi-id-card"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>

                <div class="input-group mt-4 ml-5">
                    <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
                    <label class="ml-3" for="tckimlik">T.C.Vatandaşı Değilim</label>
                </div>

               

            </div>
        </div>

        <div class="split"></div>
        <div class="col-md-3 p-3 border">

        </div>
    </div>
</div>