<!-- <div class="spinner-border text-danger" role="status" *ngIf="!loading">
    <span class="sr-only">Yükleniyor...</span>
  </div> -->
  <app-status></app-status>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-3">
            <app-brand></app-brand>
            <app-color></app-color>
        </div>
        <div class="col-md-9">
            <!-- <table class="table table-bordered table-striped table-hover text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>Marka</th>
                        <th>Model</th>
                        <th>Renk</th>
                        <th>Günlük Fiyat</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let car of cars; index as i;" [routerLink]="['/car/detail/',car.carId]" (click)="showDetail(car)">
                        <td>{{car.brandName}}</td>
                        <td>{{car.carName}}</td>
                        <td>{{car.colorName}}</td>
                        <td>{{car.dailyPrice + "₺"}}</td>
                    </tr>
                </tbody>
            </table> -->
           
        </div>
    </div>
</div>
<h2 class="mb-3 text-center ">Araç Listesi</h2>
