<div class="row p-5">
    <div class="col-md-3">
        <!-- logo -->
        <div class="col-md-2 d-flex align-items-center">
            <a routerLink="/" class="logo ml-4"> <span><b>Travel</b>
                <span style="color:#fff;">Car</span> </span></a>
        </div>
    </div>
    <div class="col-md-3">
        <h5>Kiralama Süreçleri</h5>
        <ul >
            <li>Araç Kiralama Şirketleri</li>
            <li>Gizlilik</li>
            <li>Araç Kiralama Koşulları ve Hizmet Sözleşmesi  </li>
        </ul>
    </div>
    <div class="col-md-3">
        <h5>Kullanıcı Menüleri</h5>
    </div>
    <div class="col-md-3">
        <h5>Popüler Konular</h5>

    </div>
</div>